{
  "parser": "@babel/eslint-parser",
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    // enable all ECMAScript 6 features except for modules
    // (this automatically sets the ecmaVersion parser option to 6).
    "es6": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/setupTests.js" // jest setup
        ],
        "optionalDependencies": false
      }
    ]
  }
}
